<div class="sidebar">
 <%
=begin%>
 <div class="prevent"></div>  
<%
=end%>
<ul>
		<li><a href="/"><i class="fa fa-home fa-3x" aria-hidden="true"></i><span>HOME</span></a></li>
		<li><a href="/pages/bio"><i class="fa fa-user fa-3x" aria-hidden="true"></i><span>BIO</span></a></li>
		<li><a href="/pages/portfolio"><i class="fa fa-star fa-3x" aria-hidden="true"></i><span>PORTFOLIO</span></a></li>
		<li><a href="/pages/cv"><i class="fas fa-file fa-3x" aria-hidden="true"></i><span>CV</span></a></li>
		<li><a href="/pages/contact"><i class="fas fa-envelope fa-3x" aria-hidden="true"></i><span>CONTACT</span></a></li>
</ul>
</div>