<div class="main">
<h1>About me</h1>

I raised up in Japan and moved to Berlin, Germany in 2021.<br />
I have done coding bootcamp in summer 2021 in Tokyo, Japan.<br />
I did a group coding and bulid some applications.<br />
<br />
The reason I joined in bootcamp is that initially I was interested in web design, <br />
but also thought that how cool if I could create something by myself with my design!<br />
<br />
When I was junior high school, I made some webpage.<br />
It was very fun for me both designing and coding, supprisingly my skill became popular in my hometown.<br />
I have been asked by many strangers to create a web page.<br />
This was the greatest success in my teens！And here I am :)<br />
<br />
After rethinking my career in the corona vortex, I realized that the most enthusiastic work was coding and design.
So I will be more knowledgeable and experienced in this industry.<br />
<br />
The reason why I moved to europe is I would like to work in worldwide!<br />
I look forward to work with a lot of people!
</div>