<div class="main">
<h1>contact</h1>

If you are interested in working with me, contact me. @yoonhak.x.aa@gmail.com</br>
Also you can contact me from above!

<div class="contact">
    <a href="https://github.com/ivy1022"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/a_rainbow_s2/"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <%
=begin%>
 <a href="#"><i class="fab fa-twitter"></i></a> 
<%
=end%>
    <a href="https://www.linkedin.com/in/ayaka-asano/"><i class="fab fa-linkedin"></i></a>
</div>
</div>