<h1>I am Ayaka! (from Japan)
Front-end developer/UI&UX designer</h1>

<h2>I enjoy both coding and designing to create easy to use and well-designed app and website!
While creating some apps, I learned what features are easy for users to use.
Are you looking for an engineer who can code & UI & UX?
Please contact me!</h2>

