<div class="container">
<div class="sidebar">
 <div class="prevent"></div> 
<ul>
		<li><i class="fa fa-home fa-3x" aria-hidden="true"></i><span>HOME</span></li>
		<li><i class="fa fa-user fa-3x" aria-hidden="true"></i><span>BIO</span></li>
		<li><i class="fa fa-star fa-3x" aria-hidden="true"></i><span>PORTFOLIO</span></li>
		<li><i class="fas fa-file fa-3x" aria-hidden="true"></i><span>CV</span></li>
		<li><i class="fas fa-envelope fa-3x" aria-hidden="true"></i><span>CONTACT</span></li>
</ul>
</div>	

<div class="main">
<h1>I am Ayaka! (from Japan)
Front-end developer/UI&UX designer</h1>

<h2>I enjoy both coding and designing to create easy to use and well-designed app and website!
While creating some apps, I learned what features are easy for users to use.
Are you looking for an engineer who can do coding & UI?
Please contact me!</h2>
</div>
</div>

