<div class="main">
<h1>Portfolio</h1>

<a href="https://connectrainer.herokuapp.com/"><%= image_tag "connectrainer.png", class: "project-photo", alt: "" %></a>
<h2>ConnecTrainer</br>
     - the app for SNS of connecting trainer and people</h2>
<p>This web application for connecting that a sport trainer and people who need an exercise. We can search it from sports name and location. A host can orgnize some event and people can send a request to trainer so that holding an event. I bulit it with 3 teammates and I did both frontend and backend.</p>
</br>
<a href="https://kyoro-manager.herokuapp.com/"><%= image_tag "kyoro-survey-show.png", class: "project-photo", alt: "" %></a>
<h2>Kyoro</br>
    - the app for helping managers track</h2>
<p>This Web Application that helps managers track their team's engagement through slack integration. I bulit this app with 3 teammates and I did both frontend and backend.</p>
</div>