@import url('https://fonts.googleapis.com/css?family=Sintony');

$colors-list: #811453 #3C144F #9F4576 #9C2542 #0A7E8C;
  // $colors-list: #D1B3C4 #B392AC #D1B3C4 #B392AC #D1B3C4;


.sidebar {
  // height:100%;
  width: 250px;
  max-width:1100px;
  min-height:650px;
  overflow:hidden;

}

.prevent {
 height:100%;
 min-height:650px;
 overflow:hidden;
 width:50%;
 position:absolute;
 left:13%;
 z-index:9;
 display:block;
 background-color:transparent;
}

.sidebar ul{
list-style-type: none;
    width:100%;
    height:850px;
    display: block;
    margin: auto 0;
    padding:0;
  
  > * {
    a {
      text-decoration: none;
      display: block;
    }

    a:visited { color:white; text-decoration:none }
    
    color: whitesmoke;
    display: block;
    list-style:none;
    padding-top:12%;
    width: 60%;
    height:15%;
    margin:0;
    transition: all 0.9s cubic-bezier(.87,-.31,.19,1.44);
    text-align:center;


    span {
    font-size:23px;
    padding-top:5px;
    text-transform: uppercase;
    color:whitesmoke;
    font-weight:bold;
    display:none;
    text-decoration: none;
    }
     

    @each $current-color in $colors-list {
    $i: index($colors-list, $current-color);
    &:nth-of-type(#{$i})  { 
        
        background-color: $current-color;
        opacity: 0.7;
        
      }
  }
  }
  
}

.sidebar ul li:hover {

 width:80%;
 
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  opacity:1;
  text-decoration:none;
  
}

.sidebar ul li:hover span {
display:block;
text-decoration:none;

}





