// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// all pages //

.title {
  font-size: 50px;
 font-family: 'Londrina Sketch', cursive;;
}

.container {
    // display: -ms-flexbox;
    // display: -webkit-box;
    // display: -webkit-flex;
    display: flex;
    // margin: 0 auto;
    max-width: 1080px;
  }

.main {
    width: calc(100% - 0px);
    margin: auto 0;
    color: antiquewhite;
    flex: 1;
    // width: 300px;
  }

// CV //

  .resume {
    width: 400px;
    height: 100%;
    border-radius: 5%;
    object-fit: fill;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

// Modal

// Portfolio

.project-photo {
  width: 300px;
  height: 200px;
}